/*http://our7azdk9.bkt.clouddn.com/fonts/webfont.eot*/
@font-face {font-family: 'webfont';
    src: url('http://our7azdk9.bkt.clouddn.com/fonts/webfont.eot'); /* IE9*/
    src: url('http://our7azdk9.bkt.clouddn.com/fonts/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('http://our7azdk9.bkt.clouddn.com/fonts/webfont.woff') format('woff'), /* chrome、firefox */
    url('http://our7azdk9.bkt.clouddn.com/fonts/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('http://our7azdk9.bkt.clouddn.com/fonts/webfont.svg#webfont') format('svg'); /* iOS 4.1- */
}
html {
	font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif; 
	font-size: 62.5%;
}
body {
	background-color: #fffff9;
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3.2rem;
	background: #000000;
	line-height: 3.2rem;
	color: #fff;
	font-size: 2rem;
	text-align: center;
	z-index: 99;
	box-sizing: border-box;
}
.holder {
	width: 100%;
	height: 3.2rem;
	box-sizing: border-box;
}
header span {
	font-size: 1rem
}
.article-wrapper {
	width: 80%;
	max-width: 800px;
	margin: 0 auto;
	font-size: 1.6em;
}

.article-wrapper ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.article-wrapper ul li {
	border: 2px solid #ccc;
	margin: 15px 0;
	padding: 5px 10px;
	box-shadow: 2px 8px 4px -6px rgba(0,0,0,.3);
	border: 2px solid #e6e7e9;
	// transition: all .5s ease;
	overflow: hidden;
}

.article-wrapper ul li:hover {
	// box-shadow: 2px 8px 4px -6px rgba(0,0,0,.3);
}

.article-item{
	word-wrap: break-word;
}

.article-note {
	font-size: 1.2rem;
}

.article-note a {
	float: right;
}

.pagination a {
	color: #41403e;
  display: inline;
  outline: 0;
	font-size: 1.2rem;
  padding: .75rem 1.75rem;
	box-shadow:  2px 8px 16px -6px rgba(0,0,0,.3);
	border: 1px solid #e6e7e8;
	text-decoration: none;
	transition: all .5s ease;
}

.pagination a:hover {
	box-shadow:  2px 8px 4px -6px rgba(0,0,0,.3);
}

a.next {
	float: right;
	margin-right: 2rem;
}